body{
    margin: 0;
    height: 100%;
    background-color: #18122B ;
}
#app{
color: white;
display: grid;
grid-template-columns: minmax(100px, 1fr) minmax(400px, 3fr);
grid-template-rows: minmax(100px, 150px) minmax(400px, 1fr);
/* background-color: ; */
height: 100vh;
gap: 20px;
margin: 10px;
}
.header{
    /* border: 1px solid gray; */
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-area:1/1/2/3 ;
    align-items: center;
    background-color: #393053;
    padding-left: 5px;

}
.search{
    /* width: 80%; */
    display: inline-block;
    grid-area: 1/1/2/3;
}




input{
    height: 1.5em;
}
input:valid{
    border: 2px solid green;
}
.list{
    border-radius: 10px;
    grid-area: 2/1/3/2;
    background-color: #393053;
    max-height: 100vh;
    display:grid;
    grid-template-columns: 1fr 25px 25px;
    grid-auto-rows: minmax(40px, 50px);
    align-items: center;
    gap: 5px;
    padding: 0 3px ;

}
.list>button{
    height: 2.5em;
    border: 0px;
}
.list>.erase{
    background-color: #D71313;
    

}
.calendar{
    /* grid-area: 2/2/3/3 ; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;

}

.day{
    background-color: #393053;
    border-radius: 20px;
}
#submit>img{
    width: 15px;
    height: auto;
}
#submit{
    align-items: center;
    box-sizing: border-box;
}
.add>img{
    width: 10px;
}
.add{
    background-color: green;
}
.erase>img{
    width: 10px;
}
