body{
    margin: 0;
    height: 100%;
    background-color: #18122B ;
}
#app{
color: white;
display: grid;
grid-template-columns: minmax(100px, 1fr) minmax(400px, 2fr);
grid-template-rows: minmax(100px, 150px) minmax(400px, 1fr);
background-color: ;
height: 100vh;
gap: 20px;
margin: 10px;
}
.header{
    /* border: 1px solid gray; */
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-area:1/1/2/3 ;
    align-items: center;
    background-color: #635985;

}
.newTask{
    grid-area: 1/1/2/3;
}


label{
    padding-left: 20px;
}
input{
    width: 60%;
}
input:valid{
    border: 2px solid green;
}
.list{
    grid-area: 2/1/3/2;
    background-color: #424242;
    max-height: 100vh;
    display:grid;
    grid-template-columns: 1fr 50px 50px;
    grid-auto-rows: minmax(50px, 70px);
    align-items: center;

}
.list>button{
    height: 2.5em;
}
.list>.erase{
    background-color: #D71313;
    border: 0px;

}
